<div class="container">
  <h1>Update Package</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="updatePackage(productpackage.id)" #packageForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" [(ngModel)]="productpackage.name" name="name" required>
        </div>
        <div class="form-group">
          <label for="name">Description</label>
          <input type="text" class="form-control" [(ngModel)]="productpackage.description" name="description" required>
        </div>
        <div class="form-group" *ngFor="let product of productpackage.products; let i = index">
          <label for="name">Product Id</label>
          <input type="text" placeholder="Enter a valid Product Id" name="product-{{i}}"
                 class="form-control" [(ngModel)]="product.id">
          <button type="button" (click)="removeProduct(product)" aria-label="Remove">X</button>
        </div>
        <button class="btn btn-danger" type="button" (click)="addProduct()">Add new product</button>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!packageForm.form.valid">Update</button>
        </div>
        <div *ngIf="errors" class="alert alert-danger">
          {{ errors }}
        </div>
      </form>
    </div>
  </div>
</div>
