<img id="logo" src="assets/logo.png" border="0" width="364" height="126"/>

<!-- navs -->
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" routerLink="packages">Packages</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="package-create">Create Package</a>
  </li>
</ul>

<!-- breadcrumb -->
<div class="col">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"
        *ngFor="let item of breadcrumbList; let i = index"
        [class.active]="i===breadcrumbList.length-1">
      <a [routerLink]="item.path" *ngIf="i!==breadcrumbList.length-1">
        {{ item.name }}
      </a>
      <span *ngIf="i===breadcrumbList.length-1">{{ item.name }}</span>
    </li>
  </ol>
</div>
<router-outlet></router-outlet>
