<div class="container">
  <h1>Packages</h1>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Products</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let package of productpackages">
      <td>{{ package.name }}</td>
      <td>{{ package.description }}</td>
      <td>
        <div class="row" *ngFor="let product of package.products; let i = index">
          <div class="col-md-7">
            {{ product.name }}
          </div>
        </div>
      </td>
      <td>{{ package.price }}</td>
      <td><a [routerLink]="['/package-detail', package.id]">Show Detail</a></td>
    </tr>
    </tbody>
  </table>
</div>
