<div class="container">
  <h1>{{ productpackage.name }}</h1>
  <dl class="list">
    <dt>Description</dt>
    <dd>{{ productpackage.description }}</dd>
    <dt>Products</dt>
    <dd>
      <div class="row" *ngFor="let product of productpackage.products; let i = index">
        <div class="col-md-7">
          {{ product.name }}
        </div>
      </div>
    </dd>
    <dt>Price</dt>
    <dd>{{ priceString }}</dd>
  </dl>

  <label>Currency: </label>
  <select (change)="getPackageDetailInCurrency(productpackage.id, $event.target.value)">
    <option *ngFor="let currency of currencies" value={{currency}}>
      {{currency}}
    </option>
  </select>

  <div class="row">
    <div class="col-md-12">
      <a [routerLink]="['/package-update', productpackage.id]" class="btn btn-success">UPDATE</a>
      &nbsp;
       <button class="btn btn-danger" type="button" (click)="deletePackage(productpackage.id)">DELETE</button>
    </div>
  </div>
</div>

